*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: white;
  margin: 0px !important;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}
.ant-layout-footer {
  margin-top: auto;
}
/* checkoutModal */
.checkoutModal .modal-content {
  background: #000000;
  box-shadow: -5px 5px 19px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  max-width: 670px;
}
.checkoutModal .modal-dialog-centered {
  justify-content: center;
}
.checkoutModal .modal-title {
  display: none !important;
}
.checkoutModal .modal-header {
  border-bottom: 1px solid transparent;
}
.checkoutModal .btn-close {
  /* background: none !important; */
  background: url("./assets/icons/X.png");
  content: "";
  width: 0px;
  height: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0px;
}
.checkoutModal .modal-footer {
  display: none;
}
.checkoutModal .modal-body {
  width: 74%;
  margin: 0 auto;
}
.checkoutModal .modal-body h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  padding: 47px 10px 60px;
}
.checkoutModal .modalBtnWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 97px;
}
.checkoutModal .modalBtnWrap button {
  width: 56px;
  height: 27px;
  background: #490eaa;
  box-shadow: -2px 5px 8px -3px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
/* Slider */
.slick-slide img {
  margin: auto;
  background: #757575;
  border-radius: 12px;
  width: 197px;
  height: 172px;
}
.slick-next:before {
  background: url("./assets/icons/Polygon 5.png");
  width: 27px;
  height: 27px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent;
}
.slick-prev:before {
  background: url("./assets/icons/Polygon 6.png");
  width: 27px;
  height: 27px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent;
}
/* Privacy Policy */
.pInner h1 {
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin-bottom: 39px;
}
.pInner h4 {
  font-size: 26px;
  margin-bottom: 20px;
}
.pInner p {
  font-size: 20px;
  color: #000;
  text-align: left;
  margin-bottom: 15px;
}
.pInner ul,
.pInner span {
  font-size: 20px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .pInner h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .pInner h4 {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .pInner p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .pInner ul,
  .pInner span {
    font-size: 14px;
  }
}
